:host {
  display: block;
}

:host, ﻿.workflow-canvas-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.workflow-canvas {
  width: 4000px;
  height: 4000px;
  position: absolute;
}

.activity {
  &.activity-executed {
    border: 1px solid #6faa44;
    background-color: #6faa44;
    color: #ffffff;

    h5, h5 i {
      color: #ffffff;
    }
  }

  &.activity-blocking {
    border: 1px solid #5a8fee;
    background-color: #5a8fee;
    color: #ffffff;

    h5, h5 i {
      color: #ffffff;
    }
  }

  &.activity-faulted {
    border: 1px solid #d23c3c;
    background-color: #d23c3c;
    color: #ffffff;

    h5, h5 i {
      color: #ffffff;
    }
  }
}
